<!-- <table id="customers">
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Experience</th>
  </tr>
  <tr *ngFor="let studentData of data">
    <td>{{studentData.name}}</td>
    <td>{{studentData.department}}</td>
    <td>{{studentData.JobExperience}}</td>
  </tr>
</table> -->
<h1>Home Component</h1>
<a routerLink="/register">Call Student Component</a>
<router-outlet></router-outlet>
<!-- <div id="input-controls">
  <label>
    Username
  </label>
  <input type="text" id="username" name="username">
  <input type="button" id="submit" value="Submit">
</div> -->
